.jumbotron {
  text-align: center; }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1.5em; }
  .jumbotron p.lead {
    font-size: 24px;
    line-height: 1.5em; }

#playlist #player {
  height: 307px; }
#playlist .controls button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #ecf0f1; }

/* site theme - converted with http://css2sass.heroku.com/ */
/* ---------- */
.title {
  margin: 20px 0 0 0;
  font-size: 64px; }

.example {
  padding: 30px 0; }

.example-name {
  margin: 20px 0;
  font-size: 32px; }

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0; }

.typeahead, .tt-query, .tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none; }

.typeahead {
  background-color: white; }
  .typeahead:focus {
    border: 2px solid #0097cf; }

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999999;
  margin-top: 2px; }

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }
  .tt-suggestion.tt-is-under-cursor {
    color: white;
    background-color: #0097cf; }
  .tt-suggestion p {
    margin: 0; }

.gist {
  font-size: 14px; }
